{% extends "templates/base.html" %}

{% block content %}

<body>

  <div class="container-narrow">
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
      <h3 class="muted">Pat's Blog</h3>
    </div>
      <br>
      <div class="pull-right">
	<form action="/search/" method="get">
	  <div class="input-prepend">
	  <span class="add-on"><i class="icon-search"></i></span>
	  <input class="input-mysize" type="text" name="q" placeholder="Enter an author's name">
	  </div>
	</form>
      </div>
    <br>
    <hr>
    <div class="row-fluid marketing">
      <div class="span12">
	<form method="post" action="/newpost/">
	  {% csrf_token %}
	  {% if isErrorTitle %}
	  <p>Error!!!</p>
	  {% endif %}
	  <label>Title: </label>
	  <input type="text" name="title" value="{{title}}">
	  <br>
	  {% if isErrorPost %}
	  <p>Error!!!</p>
	  {% endif %}
	  <label>Blog Post:</label>
	  <textarea class="field span_12" rows="25"  id="textarea" name="post">{{post}}</textarea>
	  <br>
	  {% if isErrorAuthor %}
	  <p>Error!!!</p>
	  {% endif %}
	  <label>Author:</label>
	  <input type="text" name="author" value="{{author}}">
	  <br>
	  <button class="btn btn-primary" type="submit" value="Submit">Submit</button>

			 <!--<input type="submit" value="Submit" />-->
	</form>
      </div>
    </div>

{% endblock %}
